html, body {
    height: 98%;
    margin-top: 15px;
    background-image: url("https://wallpaperswide.com/download/wooden_floor_texture-wallpaper-2560x1440.jpg");
  }
  .grid {
    border: 1px solid #000;
    min-height: 90%;
    width: 31%;
    margin-left: 33%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    display: grid;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .grid > div {
    display: grid; 
    justify-content: center;
    flex-direction: column;
    border: 1px solid white;
    background-color: black;
  }
  .grid > div >div {
    display: flex;
    flex-direction: row;
    margin: auto;
    color: white;
    visibility: hidden;
  } 
  #hatter{
    background-image:  url("https://png.pngtree.com/thumb_back/fh260/background/20211116/pngtree-wedding-card-backgound-design-image_915381.png");
    background-size:cover;
  }