body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: rgb(243, 193, 117);
  background-image: url("https://wallpaperswide.com/download/wooden_floor_texture-wallpaper-2560x1440.jpg");
}

.memory-game {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-gap: 10px;
}

.card {
  width: 120px;
  height: 120px;
  background-color: rgb(243, 193, 117) ;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.emoji {
  display: none;
}
.card.flipped .emoji {
  display: block;
}
.card.matched {
  pointer-events: none;
  visibility:hidden;
}
#probak{
  position: absolute;
  top: 5%;
}